
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  /*############# HEADER #################*/
  header {
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  /*################### NAVIGATION ########################*/
  nav {
    background-color: rgb(36, 244, 4);
  }
  ul {
    margin: 0;
    padding: 2em 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5%;
    list-style-type: none;
  }
  
  li a {
    text-decoration-line: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
  }
  
  li a:hover {
    color: darkorange;
  }
  
  /*######################## CONTENU ###################"*/
  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  
  aside {
    background-color: rgb(247, 4, 4);
    padding: 0.5em;
    flex-grow: 1;
  }
  
  main {
    background-color: darkmagenta;
    padding: 5%;
    flex-grow: 3;
  }
  
  /*######################## FOOTER ###########################*/
  footer {
    background-color: brown;
    padding: 2% 0;
    text-align: center;