body {
  background-attachment: local;
  background-image: url(../img/Saison_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  margin-left: 1%;
  margin-right: 1%;
  padding-bottom: 1%;
  background-color: crimson;
  font-family: 'pokemon_hollownormal';
  text-align: center;
  opacity: 80%;
}

.card {
  opacity: 88%;
  border-color: black;
  margin-right: 2%;
  margin-left: 1%;
  background-color: black;
}


.row {
  display: flex;
  margin-left: 20%;
  margin-right: 60%;
  text-align: left;
  opacity: 80%;
  border-radius: 20%;

}

@font-face {
  font-family: 'pokemon_hollownormal';
  src: url('../font/pokemon_hollow-webfont.woff2') format('woff2'),
    url('../font/pokemon_hollow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'balonkuregular';
  src: url('../font1/balonku/balonkuregular-la1w-webfont.woff2') format('woff2'),
    url('../font1/balonku/balonkuregular-la1w-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.nav-link {
  font-family: 'balonkuregular';
  font-size: xx-large;
}