body {
  background-size: fixed;
  background-image: url(../img/Saison_1.webp);
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  margin-left: 20%;
  margin-right: 40%;
  display: flex;
  background-color: crimson;
  font-family: 'pokemon_hollownormal';
}

.card {
  margin-right: 20%;
  margin-left: 20%;
}

#vertical-2 {
  margin-top: 2%;
  display: inline-block;
  margin-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}

@font-face {
  font-family: 'pokemon_hollownormal';
  src: url('../font/pokemon_hollow-webfont.woff2') format('woff2'),
    url('../font/pokemon_hollow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}