body {

  background-image: url(../img/Saison_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:local;

}

.univers {
  opacity: 90%;
  border-color: black;
  margin-right: 2%;
  margin-left: 2%;
}

@font-face {
  font-family: 'balonkuregular';
  src: url('../font1/balonku/balonkuregular-la1w-webfont.woff2') format('woff2'),
    url('../font1/balonku/balonkuregular-la1w-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.nav-link {
  font-family: 'balonkuregular';
  font-size: xx-large;
}