body {
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 25%;
    background-image: url(https://i.gifer.com/origin/60/60c05625ac6bce7f8254094ded58fa50.gif);
    background-repeat: no-repeat;
    background-size: cover;
}



@media screen and (max-width: 768px) {
    /* Styles à appliquer lorsque la largeur de l'écran est de 768 pixels ou moins */
    /* Par exemple, ajuster la mise en page pour les smartphones */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Styles à appliquer lorsque la largeur de l'écran est entre 769 et 1024 pixels */
    /* Par exemple, ajuster la mise en page pour les tablettes */
}

@media screen and (min-width: 1025px) {
    /* Styles à appliquer lorsque la largeur de l'écran est de 1025 pixels ou plus */
    /* Par exemple, ajuster la mise en page pour les ordinateurs de bureau */
}

.container {
    background-color: beige;
    color: black;
    text-align: center;
}